 <!----------- Footer ------------->
 <footer class="bg-dark text-light" id="contact">
        <div class="padded grid">
            <div class="center col-5_sm-12 editable padded sm-padded-0">
                <h2> Contact me</h2>
                <p class="padded-t-1"> By tapping into the universal aspects of the human condition, empathetic writers create work that touches the hearts and minds of their readers. </p>
                <nav>
                    <a href="#"> <i class="lab la-instagram"></i> </a>
                    <a href="#"> <i class="lab la-facebook"></i> </a>
                </nav>
            </div>
            <form action="https://formspree.io/f/xknyqqnb" method="POST" class="col-6_sm-12">
    
                <label for="_name"> Name </label>
                <input type="text" name="_name" id="_name" placeholder="Nume"/>
            
                <label for="_replyto"> Email </label>
                <input type="email" name="_replyto" id="_replyto" placeholder="Email"/>
       
                <label for="message"> Tell me what can I help you with </label>
                <textarea name="message" id="message" placeholder="I'd like to inquire about..."></textarea>
                    
                <button type="submit"> Send </button>
            </form>
        </div>
        <div class="col-12 center padded-t-2">
            <nav>
            <p class="subtle text-light"> Copyright 2023@<a href="https://devroxana.com/">Devroxana</a> </p>
            </nav>  
        </div>  
</footer>