
<header class="grid-middle bg-light">
    <div class="col-5_sm-6 grid">
      <div class="col-9_md-7_sm-6">
         <a class="logo" href="/index"> 
          <h2 class="md-text sm-text"> Roxana's blog </h2> 
        </a>
      </div>
    </div> 
    <nav class="col-7-sm-6 hide-sm right">
      <a href="/blog"> Blog </a>
      <a href="/blog-archive"> Blog Archive</a>
    </nav> 

    <div class="col-7 right show-sm">
      <button class="hamburger-button"> &#9776; </button>
    </div>
  </header>
  
  <div class="mobile-menu"> 
    <nav> 
      <a href="/blog"> Blog </a>
      <a href="/blog-archive"> Blog Archive</a>
    </nav>
  </div> 

