<section class="padded-lg grid testimonial">
    <div class="col-1 text-right">
        <span class="quote-icon">“</span>
    </div>
    <div class="col-10 text-center" id="typed-strings">
        <p class="medium-text font-weight-light"> I've never experienced sleep like this. I really love this mattress and I want to buy one for every member of my family. <br> - A very happy customer </p>
    </div>
    <div>
        <span id="typed"></span>
    </div>    
    <div class="col-1">
        <span class="quote-icon">”</span>
    </div>
</section>