---
layout: default
---

<section class="bg-light">    
    <section class="padded capped-width-narrow blog-content">

            <div class="intro padded-1 center margin-b-2">

                {% for item in page.categories %}
                    <span class="tag padded-b-1"> {{ item }}</span>
                {% endfor %}
                
                <h1> {{ page.title }} </h1>
                
                <p class="post-info"> written by {{ page.author }} | {{ page.date | date_to_string }} </p>
            
            </div>

            <div class="padded-1">

                {{content}}

            </div>
            
            {% include social-share.html %}

            
    </section>

    {% include related-posts.html %}

</section>




